.wrapperItem    {
    display: grid;
    grid-template-columns: 19rem 19rem 19rem 19rem;
    grid-gap: 0.1rem 1.1rem;
    padding-top: 2rem;
    min-height: 50rem;
}
.buttonGroup    {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid silver;
}
.button {
    border-radius: 2rem;
    border: 0.1rem silver solid;
    width: 7rem;
    font-size: 0.8rem;
    padding: 0.239rem;
    transition: transform 500ms ease;
}
.button:hover   {
    cursor: pointer;
    transform: scale(1.1);
}

.active{
    background-color:red;
}