.mainHolder {
    width: 35%;
    height: 75%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 5px 2px black;
}
.login  {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    padding-top: 2rem;
    font-weight: 600;
}



.loginForm {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.loginFormField::placeholder {
    color: #3a3a3a;
}

.loginFormField {
    display: grid;
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 1rem;
    border-radius: 3px;
    outline: none;
    padding: 0.7rem;
    width: 15rem;
    font-size: 1rem;


}
.loginFormField:hover   {
    cursor: pointer;
}
.loginFormSubmit {
    width: 17rem;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    height: 2.5rem;
    transition: transform 500ms ease;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}
.loginFormSubmit:hover {
    transform: scale(1.1) translate3d(-1px, 10px, 0);
}
.container  {
    box-shadow: 0.1rem 0.1rem 1rem 0.2rem silver;
    margin-top: 3rem;
    height: 38rem;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
}

.testLog  {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: silver;
    animation: wheel 2s ;
    animation-fill-mode: backwards;
    z-index: 100;
    border-radius: 2rem;
}
.testLog::before {
    content: '';
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-top: 0.5rem solid transparent;
    border-bottom: 2.5rem solid transparent;
    border-left: 3rem solid silver;
    right: -3rem;
    bottom: 2rem;
}
@keyframes wheel {
    from { transform: translateX(20rem) rotate(0);}
    to { transform: translateY(0) rotate(0.1deg); }
}

.register   {
    width: 10rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 1rem 0 0.5rem 0;
    color: #222222;
    transition: transform 500ms ease;
    border-bottom: 0.2rem solid silver;
}
.register:hover {
    transform: scale(1.1) translate3d(-1px, 5px, 0);
    border-bottom: 0.2rem solid forestgreen;
}