.wrapper    {
    margin-top: 3rem;
    background-color: #f2f2f2;
}
.container  {
    display: grid;

}
.title  {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 1rem;
}
.description    {
    font-size: 1rem;
    padding: 1rem;

}